<div class="col-md-4"></div>
<div class="col-md-4">
	<h2> {{message}}</h2>
	<br></br>
	<div>
		<p>NewIrc er verkefni í Vefforitun 2 í Háskólanum í Reykjavík. Verkefnið var unnið af fjórum nemendum sem heita:</p> 
			<ol class="vid">
				<li>Guðjón Pétursson</li>
				<li>Gunnar Karl Pálmason</li>
				<li>Ólafur Ívar Jónsson</li>
				<li>Stefán Ingi Daníelsson</li>
			</ol>
		<p>Link á verkefnið inná github má finna <a href="https://github.com/stefand12/NewIrc">Hér</a></p>
	</div>
</div>
<div class="col-md-4"></div>