<div ng-controller="ChatController">
	<div class="container">
		<div class="row " style="padding-top:0px;">
			<div class="col-md-9">
				<div class="panel-2 panel-primary">
					<div class="panel-heading">
						<form>
							<p class="form-control-static">{{currentUser}}</p>
							<input type="text" class="form-control" placeholder="message" id="msgText" name="msgText" ng-model="msgText" />
							<input type="submit" class="btn btn-primary" ng-click="sendMessage()" value="send"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>