<div ng-controller="HomeController">

	<nav class="navbar navbar-default" >
	  	<div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
				<a class="navbar-brand"href="#">NewIrc</a>
		    </div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    	<div class="col-md-3"></div>
	    		<div class="col-md-4">
	      			<ul class="nav navbar-nav" >
				        <li> <div class="mouse" ng-click="home()"> Home </div></li>
				        <li> <a ng-href="#/about"> About </a> </li>
				        <li> 
				        	<div class="dropdown">
        						<div class="mouse" id="menuHome" data-toggle="dropdown" ng-click="toggler()">Private Messages
       								<span class="caret"></span>
       							</div>
		        				<ul class="dropdown-menu" role="menu" aria-labelledby="menuHome">
		          					<li role="presentation">
		          						<div ng-repeat="msg in privateMessages">
											<span role="presentation">
												<div>{{msg.from}} : {{msg.msg}}</div>
												<input type="submit" role="menuitem" tabindex="-1" ng-click="reply(msg.from)" value="reply" />
											</span>
										</div>
		     						</li>
								</ul>
      						</div>
      						<div ng-switch on="newMessage">
   								<span ng-switch-when="true">!</span>
   								<span ng-switch-default>.</span>
 							</div>
				        </li>
				        <li><a ng-href="/login" ng-click="logoff()" value="LogOff »"> Log off</a></li>
	      			</ul>
	      		</div>
	      		<div class="col-md-4"></div>
		    </div><!-- /.navbar-collapse -->
	  	</div><!-- /.container-fluid -->
	</nav>
	<div ng-repeat="alert in alerts">
		<div class="{{alert.type}}">
			<button type="button" class="close" data-dismiss="alert" ng-click="(alert)">x</button>
			<strong>Warning!</strong>
				{{alert.msg}}
		</div>
	</div>
</div>