
	<h3>Room Window</h3>

	<div class="alert alert-danger" ng-cloak ng-show="errorMessage !=''" >
	    {{errorMessage}}
	</div>
	<div ng-repeat="user in banned">
		<div>{{user}}</div>
	</div>
	<div class="container">
		<div class="row " style="padding-top:40px;">
			<div class="col-md-8">
				<div class="panel panel-primary">
					<div class="panel-heading">
						{{currentRoom}}
						<form>
							<input type="text" class="form-control" placeholder="{{channelTopic}}" id="newTopic" name="newTopic" ng-model="newTopic" />
							<input type="button" class="btn btn-primary" ng-click="changeTopic()" value="change"/>
							<input type="button" id="leaveButton" ng-click="leaveRoom()" value="          ">
						</form>	
					</div>
					<div id="mainChatRoom" scroll-glue>
						<div class="panel-body">
							<div ng-repeat="message in messages" id="printMessage" autoscroll="" class="media-list"  >
								<span class="media">
		                            <div class="media-body" >
		                                <small class="text-muted">{{message.nick}} | {{message.timestamp}} : </small>
		                                {{message.message}} {{message.servermessage}}
		                            </div>
	                        	</span>
							</div>
						</div>
					</div>
				</div>
			</div>
	        <div class="col-md-4">
	            <div class="panel panel-primary">
	                <div class="panel-heading">
	                   ONLINE USERS
	                </div>
					  	<div class="btn-group-vertical" role="group" aria-label="...">            
							<div ng-repeat="op in bubbar">
								<div class="dropdown" >
								 	<button class="btn btn-default dropdown-toggle" type="button" id="{{op}}" data-toggle="dropdown" aria-expanded="false">
								    (/'.')/ {{op}}
								    <span class="caret"></span>
								 </button>
								 <ul class="dropdown-menu" role="menu" aria-labelledby="{{op}}">
								    <li role="presentation"><input type="submit" role="menuitem" tabindex="-1" ng-click="sendPriv(op)" value="Send Message" /></li>
								    <li role="presentation"><input type="submit" role="menuitem" tabindex="-1" ng-click="kick(op)" value="Kick" /></li>
								    <li role="presentation"><input type="submit" role="menuitem" tabindex="-1" ng-click="ban(op)" value="BAN" /></li>
								    <li role="presentation"><input type="submit" role="menuitem" tabindex="-1" ng-click="doOp(op)" value="Op" /></li>
								    <li role="presentation"><input type="submit" role="menuitem" tabindex="-1" ng-click="doDeop(op)" value="DeOp" /></li>
								 </ul>
							</div>							
						</div>
						<div ng-repeat="user in currentUsers">
								<div class="dropdown">
								  <button class="btn btn-default dropdown-toggle" type="button" id="{{user}}" data-toggle="dropdown" aria-expanded="false">
								    {{user}}
								    <span class="caret"></span>
								  </button>
								  <ul class="dropdown-menu" role="menu" aria-labelledby="{{user}}">
								    <li role="presentation"><input type="submit" role="menuitem" tabindex="-1" ng-click="sendPriv(user)" value="Send Message" /></li>
								    <li role="presentation"><input type="submit" role="menuitem" tabindex="-1" ng-click="kick(user)" value="Kick" /></li>
								    <li role="presentation"><input type="submit" role="menuitem" tabindex="-1" ng-click="ban(user)" value="BAN" /></li>
								    <li role="presentation"><input type="submit" role="menuitem" tabindex="-1" ng-click="doOp(user)" value="Op" /></li>
								    <li role="presentation"><input type="submit" role="menuitem" tabindex="-1" ng-click="doDeop(user)" value="DeOp" /></li>
								  </ul>
							</div>
						</div>
					</div>
	            </div>
	            	<div class="dropdown">
        				<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" ng-click="getBanned()">Unban
       						<span class="caret"></span>
       					</button>
		        	<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
		          		<li role="presentation">
		          			<div ng-repeat="user in banned">
								<span role="presentation">
									<input type="submit" role="menuitem" tabindex="-1" ng-click="unBan(user)" value="{{user}}" />
								</span>
							</div>
		     			</li>
					</ul>
      			</div>
	        </div>
		</div>
	</div>

<!-- cmnd line  -->
<div ng-include="'src/views/chat.html'" id="Input"></div>
