<h3>Hi {{currentUser}} - Active chat rooms</h3>
<div class="test">
	<ul ng-repeat="room in rooms">
          <li><a href="#/room/{{currentUser}}/{{room}}">{{room}}</a></li>
      </ul>
</div>
<div class="form-group">
	<label for="roomName" class="control-label">Room-name</label>
	<input type="text" class="form-control" id="roomName" name="roomName" ng-model="roomName" />
</div>
<button type="button" class="btn btn-primary" ng-click="createRoom()">Create new room</button>

<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
	{{errorMessage}}
</div>

<!-- kóði til að checka á arrays ekki eiða strax!
<div ng-if="Array.isArray(rooms)">
      <ul ng-repeat="room in rooms">
          <li><a href="#/room/{{currentUser}}/{{room}}">{{room}}</a></li>
      </ul>
</div>
<ul-some-stuff ng-if="!Array.isArray(rooms)" item="rooms">
          <li><a href="#/room/{{currentUser}}/{{rooms}}">{{rooms}}</a></li>
</ul-some-stuff> 
-->