<h3>Room Window</h3>


	<input type="button" class="btn btn-primary" ng-click="leaveRoom()" value="Leave">
	<div id="topic">{{channelTopic}}</div>
<div id="mainChatRoom" scroll-glue>
	<ul ng-repeat="message in messages" id="printMessage" autoscroll="">
		<li>{{message.timestamp}}</li>
		<li>{{message.nick}} says {{message.message}}</li>
	</ul>
	
</div>

<div ng-include="'src/views/chat.html'" id="chatInput"></div>

<div class="container">
	<ul ng-repeat="op in ops" id="Opar">
		<li>(/'.')/ {{op}}</li>
	</ul>
	<ul ng-repeat="user in currentUsers">
		<li>{{user}}</li>
	</ul>
</div>


<!-- cmnd line  -->
