    .form-signin input[type="text"] {
        margin-bottom: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .vertical-offset-100 {
        padding-top: 100px;
    }
    .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    }
    .panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
    a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #767676;
	text-decoration: bold;
}

a:active {
	text-decoration: none;
}

nav {
	height: 500px;
}

nav ul ul {
	display: none;
}

nav ul li:hover   {
	background-color: red;
	display: block;
}

nav ul { 
	clear: both;
	position: relative;
	display: inline-table;
	list-style: none;
	padding-left: 0px;
	padding-right: 50%;
}

nav ul li {

	width: 100px;
	border: 1px solid red;
	float: right;
	direction: ltr;
}
	
nav ul ul {
	z-index: 1000;
	position: absolute; 
	top: 0;
	left: 100px;
}

nav ul ul li:hover {
	background: #4b545f;
}

#mainChatRoom {
	float: left;
	margin-left: ;
	border: 1px solid #8c8c8c;
	width: 748px;
	height: 500px;
	overflow: auto;
	-webkit-overflow: auto;
	overflow-x:hidden;
	border-bottom-right-radius: 0.8%;
	border-bottom-left-radius: 0.8%;  
}

#leaveButton {
	background: url('http://www.videomaniakc.com/tl_files/content/warning/icon-exit.png');
	background-size: cover;
	text-decoration: none;
	float: right;
}

#chatInput {
	border: 2px solid red;
}
