.userList {
	border: 2px solid blue;
	width: 250px;
	height: 400px;
	overflow-y: scroll;
	float: left;
	margin: 2px;
	z-index: 1000;
	overflow-x:hidden;
	direction: rtl;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #767676;
	text-decoration: bold;
}

a:active {
	text-decoration: none;
}

nav {
	height: 500px;
}

nav ul ul {
	display: none;
}

nav ul li:hover   {
	background-color: red;
	display: block;
}

nav ul { 
	clear: both;
	position: relative;
	display: inline-table;
	list-style: none;
	padding-left: 0px;
	padding-right: 50%;
}

nav ul li {

	width: 100px;
	border: 1px solid red;
	float: right;
	direction: ltr;
}
	
nav ul ul {
	z-index: 1000;
	position: absolute; 
	top: 0;
	left: 100px;
}

nav ul ul li:hover {
	background: #4b545f;
}

#mainChatRoom {
	float: left;
	margin-left: ;
	border: 1px solid #8c8c8c;
	width: 748px;
	height: 500px;
	overflow: auto;
	-webkit-overflow: auto;
	overflow-x:hidden;
	border-bottom-right-radius: 0.8%;
	border-bottom-left-radius: 0.8%;  
}

#leaveButton {
	background: url('http://www.videomaniakc.com/tl_files/content/warning/icon-exit.png');
	background-size: cover;
	text-decoration: none;
	float: right;
}

#chatInput {
	border: 2px solid red;
}

